/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /* padding: 4rem 0; */
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* @media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
} */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
